version: "3.9"

services:
  web:
    build: .
    container_name: EclipseSoftwareHelpDesk_app
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: EclipseSoftwareHelpDesk_db
    restart: always
    environment:
      POSTGRES_USER: EclipseSoftware
      POSTGRES_PASSWORD: password
      POSTGRES_DB: EclipseSoftwareHelpDeskDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U EclipseSoftware -d EclipseSoftwareHelpDeskDB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data: